/* CSS Document
*
* @autor Fernanda Pieretti
* @data jul2015
* @ref base.css
*
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);

* { margin: 0; padding: 0; border: none; outline: none }
html, body, input, select, textarea { color: #000 ;font-family: 'Raleway', sans-serif;font-weight: 400; font-size: 14px; }
h1,h2,h3,h4,h5,h6 {display:block;cursor:default;font-weight:900}
p {display:block;cursor:default}
ul, ol { list-style: none }
a img { border: none }
.clear{clear:both}
