/* CSS Document
*
* @autor Fernanda Pieretti
* @data jul2015
* @ref styles.css
*
*/

#nav{width:100%;height:auto;float:left;clear:both;background:url(../_imagens/site/bg1.png) repeat;padding:10px 0;position:absolute;z-index:100;top:0;left:0}
#nav #menuDropDown{background:url(../_imagens/site/icon-menu.png) no-repeat right center;color:#000;cursor:pointer;float:right;width:15px;height:15px;display:none;margin-right:15px}
#nav ul{display:block;text-align:center}
#nav ul li{display:inline-block;line-height:30px;margin-left:24px}
#nav ul li:first-child{margin-left:0px}
#nav ul li a{display:block;line-height:30px;color:#fff;text-decoration:none;text-transform:uppercase;font-size:16px;font-family:'Open Sans',sans-serif;position:relative}
#nav ul li a:after{content:'';width:0px;height:1px;background:#fff;position:absolute;z-index:11;top:100%;left:50%;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
#nav ul li a:hover:after,#nav ul li a.select:after{width:100%;left:0;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}

#banner{width:100%;height:470px;float:left;clear:both;background:url(../_imagens/banner/1.jpg) no-repeat top center fixed #EFF0EA}
#banner.interno{height:270px}

#header{width:100%;height:auto;float:left;clear:both;padding:0 0 50px;background:#EFF0EA;text-align:center}
#header h1{font-size:26px;text-transform:uppercase;color:#009990;background:url(../_imagens/site/stars.png) no-repeat bottom center;padding-bottom:20px;margin-bottom:40px}
#header h2{font-size:35px;text-transform:uppercase;color:#00A79E;font-weight:400;font-family:'Open Sans'}
#header .logo{display:block;margin:-83px auto 40px;position:relative}

#conheca{width:100%;height:320px;float:left;clear:both;padding:65px 0 0;background:url(../_imagens/banner/2.jpg) no-repeat top center;text-align:center;box-sizing:border-box}
#conheca h2{font-size:26px;text-transform:uppercase;color:#fff;margin-bottom:10px}
#conheca h2 a{color:#fff;text-decoration:none}
#conheca p{font-size:18px;text-transform:uppercase;color:#fff}
#conheca p a{color:#fff;text-decoration:none}

#eventos{width:100%;height:auto;float:left;clear:both;padding:40px 0;text-align:center}
#eventos h2{font-size:26px;text-transform:uppercase;color:#1EAFA2;background:url(../_imagens/site/bg2.png) no-repeat bottom center;padding-bottom:50px;margin-bottom:40px}
#eventos h2 a{color:#fff;text-decoration:none}
#eventos h2 b{display:block;font-size:26px;font-weight:900}
#eventos img{margin:0 20px}

#credenciado{width:100%;height:280px;float:left;clear:both;padding:80px 0 0;text-align:center;background:url(../_imagens/banner/3.jpg) no-repeat top center;box-sizing:border-box}
#credenciado h2{font-size:26px;text-transform:uppercase;color:#fff;background:url(../_imagens/site/stars2.png) no-repeat bottom center;padding-bottom:40px}
#credenciado h2 b{display:block;font-size:48px;font-weight:900}

#paises{width:100%;height:280px;float:left;clear:both;padding:40px 0;text-align:center;background:url(../_imagens/banner/4.jpg) no-repeat top center}
#paises h2{font-size:26px;text-transform:uppercase;color:#4B4B4D;padding:50px 0 10px;background:url(../_imagens/site/icon1.png) no-repeat top center}
#paises h2 a{color:#4B4B4D;text-decoration:none}
#paises p{font-size:18px;text-transform:uppercase;color:#4B4B4D;padding-bottom:40px;font-weight:400}
#paises p a{color:#4B4B4D;text-decoration:none}

#video{width:100%;height:auto;float:left;clear:both}
#video iframe{display:block}

#titulo{width:100%;height:auto;float:left;clear:both;padding:50px 0;background:#00A79E;text-align:left}
#titulo h2{font-size:26px;text-transform:uppercase;color:#fff;margin-bottom:10px}
#titulo h2 a{color:#fff;text-decoration:none}
#titulo p{font-size:18px;color:#fff;font-weight:400}
#titulo p a{color:#fff;text-decoration:none}
#titulo.center{text-align:center}
#titulo.margin{margin-bottom:160px}

#cursos{width:100%;height:auto;float:left;clear:both;padding:0 0 150px}
#cursos .curso{width:100%;height:336px;float:left;clear:both}
#cursos .curso h2{font-size:18px;color:#606062;margin-bottom:10px;font-weight:400}
#cursos .curso h2 a{color:#606062;text-decoration:none}
#cursos .curso p{font-size:14px;color:#606062;margin-bottom:15px}
#cursos .curso p a{color:#606062;text-decoration:none}
#cursos .curso.c1{background:url(../_imagens/cursos/1.jpg) no-repeat top center}
#cursos .curso.c2{background:url(../_imagens/cursos/2.jpg) no-repeat top center}
#cursos .curso.c3{background:url(../_imagens/cursos/3.jpg) no-repeat top center}
#cursos .curso.c4{background:url(../_imagens/cursos/4.jpg) no-repeat top center}
#cursos .curso.c5{background:url(../_imagens/cursos/5.jpg) no-repeat top center}
#cursos .curso.right{text-align:right}
#cursos .curso .box{width:100%;height:336px;display:table-cell;vertical-align:middle}
#cursos .saibaMais{color:#009990;text-decoration:none;text-transform:uppercase;color:#009990;display:inline-block;padding:8px 20px;border:1px solid #009990;border-radius:5px;font-size:20px;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
#cursos .saibaMais:hover{color:#fff;background:#009990;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}

#blog{width:100%;height:auto;float:left;clear:both;padding:0 0 150px}
#blog .blog{width:100%;height:336px;float:left;clear:both}
#blog .blog p{font-size:14px;color:#606062;margin-bottom:15px}
#blog .blog p a{color:#606062;text-decoration:none}
#blog .blog.b1{background:url(../_imagens/blog/1.jpg) no-repeat top center}
#blog .blog.b2{background:url(../_imagens/blog/2.jpg) no-repeat top center}
#blog .blog.right{text-align:right}
#blog .blog .box{width:100%;height:336px;display:table-cell;vertical-align:middle}
#blog .saibaMais{color:#009990;text-decoration:none;text-transform:uppercase;color:#009990;display:inline-block;padding:8px 20px;border:1px solid #009990;border-radius:5px;font-size:20px;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
#blog .saibaMais:hover{color:#fff;background:#009990;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}

#empresa{width:100%;height:auto;float:left;clear:both;padding:30px 0 150px}
#empresa h3{font-size:18px;color:#848688;margin-bottom:10px;font-weight:400;border-left:1px solid #E6E7E8;padding:5px 0 5px 15px;margin-top:20px}
#empresa h3 a{color:#848688;text-decoration:none}
#empresa .lola{display:block;margin-top:-150px;position:relative}
#empresa .grid_3,#empresa .grid_5{margin-top:40px}

#credenciar{width:100%;height:auto;float:left;clear:both;padding:60px 0 40px;background:url(../_imagens/banner/6.jpg) no-repeat top center;text-align:center}
#credenciar h2{font-size:22px;color:#606062;font-weight:500;margin:20px 0 30px}
#credenciar h2 a{color:#606062;text-decoration:none}
#credenciar h3{font-size:16px;color:#606062;margin:20px 0;font-weight:500}
#credenciar h3 a{color:#606062;text-decoration:none}
#credenciar h4{font-size:16px;color:#009990;margin:60px 0 10px;font-weight:400}
#credenciar p{color:#606062;line-height:18px}
#credenciar p a{color:#606062;text-decoration:none}
#credenciar img{display:block;margin:30px auto 0}
#credenciar .saibaMais{color:#009990;text-decoration:none;text-transform:lowercase;color:#009990;display:inline-block;padding:8px 20px;border:1px solid #009990;border-radius:5px;font-size:20px;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
#credenciar .saibaMais:hover{color:#fff;background:#009990;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}

#apresentacao{width:100%;height:auto;float:left;clear:both;padding:30px 0}
#apresentacao h2{font-size:22px;color:#606062;font-weight:500;margin:20px 0 40px}
#apresentacao p{color:#606062;line-height:24px}
#apresentacao img{margin:0 0 40px}
#apresentacao.center{text-align:center}
#apresentacao .lola{margin:20px 40px 20px 0;float:left}

#instrutores{width:100%;height:auto;float:left;clear:both;padding:30px 0 150px;background:#EFF0EA;text-align:center}
#instrutores h2{font-size:22px;color:#606062;font-weight:500;margin:20px 0 40px}
#instrutores h3{font-size:16px;color:#606062;font-weight:600}
#instrutores h3 a{color:#606062;text-decoration:none}
#instrutores p{display:block;margin-top:10px}
#instrutores img{display:block;margin:0 auto 20px;height:140px}
#instrutores .instrutor{width:220px;height:235px;display:inline-block;margin:0 8px;overflow:hidden}

#atendimento{width:100%;height:auto;float:left;clear:both;padding:30px 0;background:#EFF0EA;text-align:center}
#atendimento h2{font-size:22px;color:#606062;font-weight:500;margin:20px 0 10px}
#atendimento p{display:inline-block;margin:0 20px;vertical-align:middle}

#formulario{width:100%;height:auto;float:left;clear:both;padding:50px 0}
#formulario input[type=text]{width:100%;height:40px;line-height:40px;text-indent:20px;border:1px solid #d0d2d4;margin-bottom:20px}
#formulario textarea{width:100%;height:150px;padding:20px;border:1px solid #d0d2d4;margin-bottom:20px;box-sizing:border-box}
#formulario select{width:100%;height:42px;line-height:42px;padding:20px;border:1px solid #d0d2d4;margin-bottom:20px}
#formulario input[type=submit]{color:#009990;text-decoration:none;text-transform:uppercase;color:#009990;display:block;padding:8px 20px;border:1px solid #009990;border-radius:5px;font-size:20px;background:#fff;margin:auto;cursor:pointer;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
#formulario input[type=submit]:hover{color:#fff;background:#009990;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}

#localizacao{width:100%;height:auto;float:left;clear:both;padding:30px 0 150px;background:#EFF0EA;text-align:center}
#localizacao h2{font-size:22px;color:#606062;font-weight:500;margin:20px 0 10px}
#localizacao p{display:block;margin:5px 0}

#evento{width:100%;height:auto;float:left;clear:both;padding:0 0 150px;text-align:center}
#evento img{display:block;margin:5px auto 10px}
#evento h4{font-size:16px;color:#009990;margin:38px 0 10px;font-weight:400}
#evento p{line-height:22px;height:70px;color:#fff}
#evento a{color:#009990;text-decoration:none;text-transform:lowercase;color:#009990;display:inline-block;padding:8px 20px;border:1px solid #009990;border-radius:5px;font-size:20px;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}
#evento a:hover{color:#fff;background:#009990;-webkit-transition:0.2s ease-out;-moz-transition:0.2s ease-out;-o-transition:0.2s ease-out;transition:0.2s ease-out}

#evento #evento1{width:100%;height:auto;float:left;clear:both;background:url(../_imagens/banner/5.jpg) no-repeat top center;padding:20px 0;background-size:cover}
#evento #evento2{width:100%;height:auto;float:left;clear:both;background:url(../_imagens/banner/7.jpg) no-repeat top center;padding:20px 0;background-size:cover}
#evento #evento3{width:100%;height:auto;float:left;clear:both;background:url(../_imagens/banner/8.jpg) no-repeat top center;padding:20px 0;background-size:cover}
#evento #evento4{width:100%;height:auto;float:left;clear:both;background:url(../_imagens/banner/9.jpg) no-repeat top center;padding:20px 0;background-size:cover}

#footer{width:100%;height:auto;float:left;clear:both;padding:0 0 15px;background:#00A79E;text-align:center}
#footer p{font-size:10px;color:#fff;font-weight:400;margin-top:100px;font-family:'Open Sans',sans-serif;text-align:left}
#footer span{font-size:10px;color:#fff;font-weight:400;margin-top:100px;font-family:'Open Sans',sans-serif;text-align:right;display:block;cursor:default}
#footer .logo{display:block;margin:-83px auto 10px}

@media only screen and (min-width: 790px) and (max-width: 1015px) {
	#nav ul li{margin-left:15px}
	#nav ul li a{font-size:12px}
}

@media only screen and (max-width: 789px) {
	#banner{height:270px}
	#nav ul{display:none;text-align:left;margin:0 15px}
	#nav ul li{display:block;margin:0}
	#nav ul li a{display:inline-block}
	#nav #menuDropDown,#nav ul.ativo{display:block}
	#conheca{padding-top:30px}
	#credenciado h2 b{font-size:40px}
	#footer .logo{margin:15px auto 20px;width:100px}
	#footer p,#footer span{margin:15px 0;text-align:center}
	#paises{height:auto;background-size:cover}
	#eventos img{margin:15px auto}
	#empresa{padding:50px 0;text-align:center}
	#empresa .lola{margin:0 auto}
	#empresa .grid_5{margin-top:0}
	#empresa h3{border:none;padding:0;margin:30px}
	#cursos .curso{background-position:left top !important;height:auto;padding-bottom:20px;text-align:center}
	#cursos .curso h2{margin:350px 0 15px}
	#cursos .curso.right{background-position:right top !important;text-align:center}
	#blog .blog{background-position:left top !important;height:auto;padding-bottom:20px;text-align:center}
	#blog .blog img{margin:350px 0 15px}
	#blog .blog.right{background-position:right top !important;text-align:center}
	#credenciar{height:auto;background-size:cover}
	#credenciar .saibaMais{font-size:16px}
	#credenciar p{font-size:13px}
	#titulo.margin{margin-bottom:10px}
	#instrutores{padding:50px 0}
	#atendimento p{display:block;margin:10px 0}
	#localizacao{padding:50px 0}
	#formulario input[type=submit]{width:100%}
	#evento{padding:0}
	#evento p{line-height:18px;font-size:10px}
	#evento a{font-size:14px}
}

@media only screen and (max-width: 470px){
	#credenciado h2 b{font-size:30px}
}

